@using Web.ViewModels.Warning
@model CreateWarningViewModel

<form method="post" asp-action="Create" asp-controller="Warnings">
	@Html.AntiForgeryToken()
	<input type="hidden" asp-for="UserId" />
	<span asp-validation-for="Content" class="text-danger"></span>
	<input asp-for="Content" class="mainInput"/>
	<button type="submit" class="mainBtn rounded-2">Give warning</button>
</form>