@using Web.ViewModels
@using Web.ViewModels.Warning

@model IEnumerable<WarningItemViewModel>
<body class="mainBG">
	<div class="container shadow secondaryBG">
		@{
			int count = 1;
		}
		@foreach(var warning in Model)
		{
			<div class="row borderBottom">
				<h5 class="mainText">Warning @count: <span class="secondaryText">@warning.Content</span></h5>
			</div>
		}
	</div>
</body>