@using Web.ViewModels
@using Web.ViewModels.Warning

@model IEnumerable<WarningItemViewModel>
<body class="mainBG">
	<div class="container shadow secondaryBG">
		@{
			int count = 1;
		}
		@foreach(var warning in Model)
		{
			<h3>Warning @count: @warning.Content</h3>
			<br />
		}
	</div>
</body>