@using NoFilterForum.Core.Models.ViewModels
@model CreateSectionViewModel
<button class="btn mainBtn mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSection" aria-expanded="false" aria-controls="collapseSection">
	Create Section
</button>
<div class="container-md mainText borderMain mb-3 mt-3 rounded-1 text-center w-50 collapse" id="collapseSection">
	<form asp-action="Create" asp-controller="Section" method="post" class="mt-3">
		@Html.AntiForgeryToken()
		<span asp-validation-for="Title" class="text-danger"></span>
		<label asp-for="Title" class="fs-4 form-label"></label>
		<input asp-for="Title" placeholder="Title text here..." class="borderMain mainInput mainText mainBG form-control" />
		<span asp-validation-for="Description" class="text-danger"></span>
		<label asp-for="Description" style="font-weight:bold" class="fs-4 form-label"></label>
		<input asp-for="Description" class="form-control mainText mainInput borderMain mainBG" placeholder="Description text here..." style="font-family:'Global Serif'" />
		<button type="submit" class="btn mainBtn mt-3 mb-3">Create Section</button>
	</form>
	
</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
