@using System.Web
@using NoFilterForum.Core.Models.ViewModels
@using Web.ViewModels.Section
@model IndexSectionViewModel
<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<style>
	.section-card {
		text-decoration: none;
		transition: background-color 0.5s ease, color 0.5s ease;
	}

		.section-card h2 {
			transition: font-weight 0.5s ease;
		}

		.section-card a {
			text-decoration: none;
		}

			.section-card a:hover {
				text-decoration: underline;
				text-decoration-color: black;
			}

		.section-card h6 {
			transition: text-align 0.5s ease;
		}

		.section-card:hover h2 {
			font-weight: bold;
		}

		.section-card:hover h6 {
			font-weight: bolder
		}

</style>
<body class="mainBG">
	@{
		<div class=" container shadow section-card mb-3 mt-3 p-4" style="font-family:Verdana;">
			@if (Model.IsAdmin)
			{ // MAKE THE TITLE IN THE LEFT, DESCRIPTION IN THE RIGHT
				<partial name="_CreateSection" model="new CreateSectionViewModel()" />
			}
			@foreach (var section1 in Model.Sections)
			{
					<a asp-action="Index" asp-controller="Post" asp-route-titleOfSection="@section1.EncodedTitle">
						<div class="p-1 row mainText borderMain">
							<h2 class="fs-5 text-center" style="font-weight:bold">@section1.Title</h2>
						</div>
						<div class="mb-2 row secondaryText pt-1">
							<h6 class="fst-italic col">@section1.Description</h6>
							<h6 class="fst-italic col text-end">Posts: @section1.PostsCount</h6>
						</div>
					</a>
					@if (Model.IsAdmin)
					{
						<partial name="_DeleteSection" model="new DeleteSectionViewModel(){SectionId = section1.Id}" />
					}
			}
		</div>
	}
</body>
@section Scripts {
	<link rel="stylesheet" href="~/css/baseCSS.css" asp-append-version="true" />
	<partial name="_ValidationScriptsPartial" />
}