@using System.Web
@using NoFilterForum.Core.Models.ViewModels
@using Web.ViewModels.Section

@model IndexSectionViewModel
@{
	ViewData["Title"] = "Home Page";
}
@{
	if (Model.IsAdmin)
	{
		<partial name="_CreateSection" model="new CreateSectionViewModel()"/>
	}
	foreach (var section1 in Model.Sections)
	{
		<a asp-action="Index" asp-controller="Post" asp-route-titleOfSection="@section1.EncodedTitle"><h2>@section1.Title</h2></a>
		<h4>@section1.Description</h4>
		if (Model.IsAdmin)
		{
			<partial name="_DeleteSection" model="new DeleteSectionViewModel(){SectionId=section1.Id}"/>
		}
	}
}
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}