@using Web.ViewModels.Chat
@model DetailsChatViewModel


<body class="bg-body-secondary">
	<div class="container bg-white shadow p-3">
		@foreach(var message in Model.Messages)
		{
			<h5>@message.Message</h5>
		}
	</div>
	<div class="row">
		<form id="messageForm">
			@Html.AntiForgeryToken()
			<input type="text" id="message" name="Message" />
			<input type="hidden" name="ChatId" value="CHATID HERE"/>
			<button type="submit">Send message</button>
		</form>
	</div>
</body>
<script>
	document.getElementById('messageForm').addEventListener('submit',function (event){
		event.preventDefault();
		let formData = new FormData(this);
		fetch('/Message/Create',{
			method: 'POST',
			body: formData
		});
	});
</script>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}