@using Web.ViewModels.Chat
@model DetailsChatViewModel


<body class="bg-body-secondary">
	<div class="container bg-white shadow p-3">
		@foreach(var message in Model.Messages)
		{
			<h5>@message.Message</h5>
		}
	</div>
	<div class="row">
		<form asp-action="">

		</form>
		<input type="text" id="message" />
		<button type="submit">Send message</button>
	</div>
</body>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}