@using Web.ViewModels.Chat
@model DetailsChatViewModel

<body class="bg-body-secondary">
	<div class="container bg-white shadow p-3">
		@foreach (var message in Model.Messages)
		{
			if (message.UserId == Model.UserId)
			{
				<div class="row mb-3">
					<div class="col-7">
					</div>
					<div class="col-5 border border-2 bg-body-secondary fst-italic text-break rounded-2">
						<h6>@message.Message</h6>
					</div>
				</div>
			}
			else
			{
				<div class="row mb-3">
					<div class="col-5 border border-2 bg-body-secondary fst-italic text-break rounded-2">
						<h6>@message.Message</h6>
					</div>
					<div class="col-7">
					</div>
				</div>
			}
		}
	</div>
	<div class="row">
		<form id="messageForm" onsubmit="submitMessage(this)">
			@Html.AntiForgeryToken()
			<input type="text" id="message" name="Message" />
			<input type="hidden" name="ChatId" value="@Model.ChatId" />
			<button type="submit">Send message</button>
		</form>
	</div>
</body>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/JSMessage.js" asp-append-version="true" defer></script>
}