@using Web.ViewModels.Chat
@model IReadOnlyCollection<ChatIndexViewModel>
<head>
	<script src="~/js/JSChat.js" asp-append-version="true"></script>
</head>
<body class="bg-body-secondary">
	<div class="container bg-white shadow p-3">
		@foreach (var chat in Model)
		{
			<div class="row mt-2">

				<a asp-action="Details" asp-controller="Chat" asp-route-id="@chat.ChatId" style="text-decoration:none" class="text-center fw-bold fs-5">@chat.Username</a>
			</div>
			var lastMessage = chat.GetDateAndTextOfLastMessage();
			<div class="row border-bottom border-2">

				@if (lastMessage is not null)
				{
					<h5 class="text-center fst-italic text-black-50 text-truncate">@lastMessage.Message</h5>
					<h5 class="text-center fst-italic text-black-50 text-truncate">@lastMessage.DateTime.ToShortTimeString()</h5>
				}
				else
				{
					<h5 class="text-center fst-italic text-black-50">Be the first to send a message!</h5>
				}
			</div>
		}
	</div>
</body>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}