@using NoFilterForum.Models.ViewModels
@model PostsViewModel

@{
	foreach(var post in Model.Posts)
	{
		<h3>Title: @post.Title</h3>
		<form asp-action="PostView" asp-route-id="@post.Id">
		<button type="submit">Go to view</button>
		</form>
	}
}