@using Web.ViewModels.Search
@model IReadOnlyCollection<SearchViewModel>

<body class="mainBG">
	<div class="container secondaryBG borderMain shadow pb-2 pt-2">
		@if (!Model.Any())
		{
			<div class="row">
				<h5 class="mainText fst-italic">No posts found</h5>
			</div>
		}
		@foreach (var item in Model)
		{
			<div class="row">
				<a asp-action="Index" asp-controller="Reply" asp-route-postId="@item.PostId" style="text-decoration:none">
					<h5 class="mainText">@item.PostTitle</h5>
					<h6 class="secondaryText text-truncate secondaryBorderBottom pb-1">@Html.Raw(item.PostBody)</h6>
				</a>
			</div>
		}
	</div>
</body>