.mainBG {
    background: linear-gradient(90deg,#1a2766 0%,#1a2766 25%,#1a2766 75%,#0F365E 100%);
}
h6{
    font-size:14px
}
h5{
    font-size:18px;
}
.secondaryBG {
    background-color: rgba(0, 0, 0, 0.0);
}
.thirdBG {
    background-color: #B58B64;
}
.transparentText{
    color:rgba(0,0,0,0.0);
}
.navText {
    color: #1a2766;
    font-family: 'Merriweather',serif;
    font-size:17px;
    font-weight:bold;
}
.secondaryText {
    color: cornflowerblue;
    font-family: 'Noto Sans Display',sans-serif;
}
.biggerText{
    font-size:16px;
}
.smallerText{
    font-size:12px;
}
.redText {
    color:red;
}
.blueText {
    color: deepskyblue;
}
.VIPText {
    color: #FFDA61;
    background-image: linear-gradient(45deg, #FFDA61 20%, #FFCD05 28%, #3780D4, #2729A8 );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.greenText{
    color:green;
}
.mainText {
    color: #B58B64;
    font-family: 'Merriweather',serif;
}
.secondaryBtn {
    background-color: rgba(0, 0, 0, 0.0);
    border-color: #8C2F20;
    border-width: 2px;
    border-style: solid;
    color: #B58B64;
}
    .secondaryBtn:hover {
        background: linear-gradient(90deg,rgba(181, 139, 100, 1) 0%, rgba(158, 125, 98, 1) 100%);
        color: #1a2766;
        border-color: #8C2F20;
        border-width: 2px;
        border-style: solid;
    }
.thirdBtn {
    background-color: rgba(0, 0, 0, 0.0);
    border-color: #B58B64;
    border-width: 2px;
    border-style: solid;
    color: #B58B64;
}

    .thirdBtn:hover {
        background: linear-gradient(90deg,rgba(181, 139, 100, 1) 0%, rgba(158, 125, 98, 1) 100%);
        color: #1a2766;
        border-color: #B58B64;
        border-width: 2px;
        border-style: solid;
    }
    .thirdBtn:disabled {
        background-color: rgba(0, 0, 0, 0.0);
        border-color: #B58B64;
        border-width: 2px;
        border-style: solid;
        color: #B58B64;
    }
.mainBtn {
    background-color: rgba(0, 0, 0, 0.0);
    border-color: #B58B64;
    border-width: 2px;
    border-style: solid;
    color: #B58B64;
}
    .mainBtn:hover {
        background: linear-gradient(90deg,rgba(181, 139, 100, 1) 0%, rgba(158, 125, 98, 1) 100%);
        color: #1a2766;
    }
.mainInput {
    color: #B58B64 !important;
    background: #1a2766;
    border-color: #B58B64;
    border-width: 2px;
    border-style: solid;
    border-radius:5px;
}
    .mainInput::placeholder {
        color: #B58B64 !important;
    }

    .mainInput :focus {
        color: #B58B64 !important;
    }
.secondaryInput {
    color: cornflowerblue !important;
    background: #1a2766;
    border-color: #B58B64;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}
    .secondaryInput::placeholder {
        color: cornflowerblue !important;
    }

    .secondaryInput :focus {
        color: cornflowerblue !important;
    }
    /*
        Change mainInput so it doesn't use important
    */
.borderSecondary {
    border-color: cornflowerblue;
    border-width: 2px;
    border-style: solid;
}
.secondaryBorderStart {
    border-left: 2px solid #236A96;
}
.secondaryBorderTop {
    border-top: 2px solid #236A96;
}
.secondaryBorderEnd {
    border-right: 2px solid #236A96;
}
.secondaryBorderBottom {
    border-bottom: 2px solid #236A96;
}
.borderMain {
    border-color: #B58B64;
    border-width: 2px;
    border-style: solid;
}
.borderStart {
    border-left: 2px solid #B58B64;
}
.borderEnd {
    border-right: 2px solid #B58B64;
}
.thirdBorderEnd {
    border-right: 2px solid #1a2766;
}
.borderTop {
    border-top: 2px solid #B58B64;
}
.borderBottom {
    border-bottom: 2px solid #B58B64;
}
.mainNav {
    background: #B58B64;
}
.truncate-multiline {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: anywhere;
}