.mainBG {
    background: linear-gradient(90deg,#1a2766 0%,#1a2766 25%,#1a2766 75%,#0F365E 100%);
}

.secondaryBG {
    background-color: rgba(0, 0, 0, 0.0);
}
.transparentText{
    color:rgba(0,0,0,0.0);
}
.navText {
    color: #1a2766;
    font-family: 'Merriweather',serif;
    font-size:17px;
    font-weight:bold;
}
.secondaryText {
    color: #236A96;
    font-family: 'Noto Sans Display',sans-serif;
}

.mainText {
    color: #B58B64;
    font-family: 'Merriweather',serif;
}
.mainBtn {
    background-color: rgba(0, 0, 0, 0.0);
    border-color: #B58B64;
    border-width: 2px;
    border-style: solid;
    color: #B58B64;
}
    .mainBtn:hover {
        background: linear-gradient(90deg,rgba(181, 139, 100, 1) 0%, rgba(158, 125, 98, 1) 100%);
        color: #1a2766;
    }
.mainInput {
    color: #B58B64 !important;
    background: #1a2766;
    border-color: #B58B64;
    border-width: 2px;
    border-style: solid;
    border-radius:5px;
}
    .mainInput::placeholder {
        color: #B58B64 !important;
    }
    .mainInput :focus {
        color: #B58B64 !important;
    }
    /*
        Change mainInput so it doesn't use important
    */
.borderMain {
    border-color: #B58B64;
    border-width: 2px;
    border-style: solid;
}
.borderStart {
    border-left: 2px solid #B58B64;
}
.borderEnd {
    border-right: 2px solid #B58B64;
}
.borderTop {
    border-top: 2px solid #B58B64;
}
.borderBottom {
    border-bottom: 2px solid #B58B64;
}
.mainNav {
    background: #B58B64;
}
