.delBtn {
    background: url("/images/delMessageBtn.png") no-repeat center;
    background-size: contain;
    border: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.mainBG {
    background: linear-gradient(90deg,#1a2766 0%,#1a2766 25%,#1a2766 75%,#0F365E 100%);
}
.secondaryBG {
    background: linear-gradient(90deg,#A18762 0%,#9E7D62 100%);
}