@using Web.ViewModels.Reply
@model DeleteReplyViewModel
<form asp-action="Delete" asp-controller="Reply" method="post">
	<input hidden asp-for="ReplyId" value="@Model.ReplyId" />
	<input hidden asp-for="PostId" value="@Model.PostId" />
	@Html.AntiForgeryToken()
	<button type="submit" class="btn btn-danger">Delete Reply</button>
</form>