@using Web.ViewModels.Profile
@model ChangeEmailViewModel

<form asp-action="ChangeEmail" class="collapse" id="collapseEmail" asp-controller="Profile" method="post">
	@Html.AntiForgeryToken()
	<span asp-validation-for="Email" class="text-danger"></span>
	<input asp-for="Email" class="mainInput ps-1" placeholder="New email..." />
	<button type="submit" class="btn mainBtn">Change Email</button>
</form>