@using Web.ViewModels.Profile
@model ChangeUsernameViewModel

<form asp-action="ChangeUsername" class="collapse" id="collapseUsername" asp-controller="Profile" method="post">
	@Html.AntiForgeryToken()
	<span asp-validation-for="Username" class="text-danger"></span>
	<input asp-for="Username" class="mainInput ps-1" placeholder="New username..."/>
	<button type="submit" class="btn mainBtn">Change Username</button>
</form>