@using Web.ViewModels.Profile
@model ChangeUsernameViewModel

<form asp-action="ChangeUsername" class="collapse" id="collapseUsername" asp-controller="Profile" method="post">
	@Html.AntiForgeryToken()
	<span asp-validation-for="Username" class="text-danger"></span>
	<input asp-for="Username" placeholder="Type your new username..."/>
	<button type="submit" class="btn btn-secondary">Change Username</button>
</form>