@using Web.ViewModels.Profile
@model UpdateImageViewModel
<form asp-action="UpdateImage" asp-controller="Profile" method="post" enctype="multipart/form-data">
	@Html.AntiForgeryToken()
	<label asp-for="Image"></label>
	<span asp-validation-for="Image"></span>
	<input asp-for="Image" accept="image/*">
	<button type="submit">Change image</button>
</form>
