@using Web.ViewModels.Profile
@model UpdateImageViewModel
<form asp-action="UpdateImage" asp-controller="Profile" method="post" enctype="multipart/form-data">
	@Html.AntiForgeryToken()
	<span asp-validation-for="Image"></span>
	<input asp-for="Image" class="mb-2" accept="image/*">
	<button type="submit" class="btn btn-secondary mb-2">Change Image</button>
</form>
