@using Web.ViewModels.Post
@model DeletePostViewModel
<form asp-action="Delete" asp-controller="Post" method="post">
	@Html.AntiForgeryToken()
	<input hidden asp-for="PostId" value="@Model.PostId" />
	<button type="submit" class="secondaryBtn btn mt-2 mb-2">Delete Post</button>
</form>