@using System.Web
@using Microsoft.AspNetCore.Identity
@using NoFilterForum.Core.Models.DataModels
@using System.Security.Claims

@inject SignInManager<UserDataModel> SignInManager
@inject UserManager<UserDataModel> UserManager
<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			<a id="notificationLink" class="nav-link  navText" asp-area="" asp-action="Index" asp-controller="Notifications">Notifications</a>
		</li>
		<li class="nav-item">
			<a class="nav-link  navText" asp-controller="Profile" asp-action="Index" asp-route-userId="@User.FindFirstValue(ClaimTypes.NameIdentifier)" asp-route-page="1">Your Profile</a>
		</li>
		<li class="nav-item">
			<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Section", new { area = "" })">
				<button type="submit" class="nav-link btn btn-link  navText">Logout</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link  navText" asp-area="Identity" asp-page="/Account/Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link  navText" asp-area="Identity" asp-page="/Account/Login">Login</a>
		</li>
	}
</ul>
