@using NoFilterForum.Core.Models.ViewModels
@using Web.ViewModels.Admin
@using Web.ViewModels.Report

@model ReportsViewModel

@foreach(var report in Model.Reports)
{
	<h4>@report.IdOfPostReply</h4>
	<h5>@report.UserTo.UserName</h5>
	<h5>@report.UserFrom.UserName</h5>
	<h3>@report.Content</h3>
	<partial name="_DeleteReport" model="new DeleteReportViewModel(){Id=report.Id}"/>
}