@using Web.ViewModels.Post
@model CreatePostViewModel
<button class="btn mainBtn" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePost" aria-expanded="false" aria-controls="collapsePost">
	Create Post
</button>
<form asp-action="Create" id="collapsePost" class="collapse border p-4 border-2 border-dark-subtle rounded-2" asp-controller="Post" method="post">
	<input type="hidden" asp-for="TitleOfSection" value="@Model.TitleOfSection" />
	<button class="btn mainBtn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
		Legend
	</button>
	<div class="collapse" id="collapseExample">
		<div class="card card-body mainBG secondaryText">
			Type:
			<br />
			#.# (&bull;)
			<h3>##example##</h3>
			<b>#example#</b>
			You can combine these however you want
		</div>
	</div>
	<div class="row">
		<span asp-validation-for="Title" class="text-danger"></span>
		<label asp-for="Title" class="fs-4 text-center fw-bold mainText"></label>
		<input asp-for="Title" class="mt-2 mainInput mainText" placeholder="Title of the post" />
	</div>
	<div class="row">
		<span asp-validation-for="Body" class="text-danger"></span>
		<label asp-for="Body" class="fs-5 fw-bold text-center mainText"></label>
		<div class="row mt-2">
			<div class="col-1 text-start">
				<div class="btn-group" role="group">
					<button type="button" class="mainBtn rounded-1"><b>B</b></button>
					<button type="button" class="mainBtn rounded-1"><i>I</i></button>
					<button type="button" class="mainBtn rounded-1">Link</button>
					<button type="button" class="mainBtn rounded-1">&bull;</button>
				</div>
			</div>
		</div>
		<textarea asp-for="Body" class="mt-1 mainInput" rows="15" placeholder="Body of the post"></textarea>
	</div>
	@Html.AntiForgeryToken()
	<div class="d-flex justify-content-center">
		<button type="submit" class="btn btn-secondary mt-4">Create post</button>
	</div>
</form>