@using System.Web
@using Core.Enums
@using NoFilterForum.Core.Models.DataModels
@using NoFilterForum.Core.Models.ViewModels
@using NoFilterForum.Global_variables
@using Web.ViewModels
@using Web.ViewModels.Post
@model PostIndexViewModel
<partial name="_CreatePost" model="new CreatePostViewModel(){TitleOfSection=Model.TitleOfSection}"/>
@{
	foreach (var post in Model.Posts)
	{
		<a asp-action="Index" asp-controller="Reply" asp-route-postId="@HttpUtility.UrlEncode(post.Id)" asp-route-titleOfSection="@Model.TitleOfSection">
			<h3>
				@post.Title 
				<partial name="_RoleColor" model="new RoleViewModel(post.Role,post.Id,post.Username,false)" /> @{// CHANGE THAT
					}
			</h3>
		</a>
		<partial name="_ShowTime" model="new ShowTimeViewModel(post.DateCreated)"/>
		if (UserConstants.adminNames.Contains(this.User.Identity.Name))
		{
			<partial name="_PinPost" model="new PinPostPartialViewModel(post.IsPinned,post.Id)"/>
		}
		<br />
	}
	string controllerName = "Post";
	string actionName = "Index";
	<partial name="_Paging" model="new PagingViewModel(Model.Page,Model.TotalPages,controllerName,actionName,Model.TitleOfSection)"/>
}
@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}